* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f0d8bc;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.layout-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    /* width: 30%; */
    padding: 4px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    display: inline-block;
    /* padding: 5px 15px; */
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    padding: 5px;
    /* gap: 10px; */
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.login-form input , .submit{
    padding: 14px;
    width: 80%;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid ghostwhite;
}
.submit{
    background-color: #FF8C38;
    color: white;
}
.link{
    width: 80%;
}
.link button{
    width: 100%;
}
.err-msg{
    color: red;
}
.user-img{
    width: 40px;
    /* height: 100%; */
    border-radius: 20px;
    /* display: inline-block; */
}
.activeclass{
    text-decoration: underline;
    font-weight: bold;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}


/*** HOME PAGE ***/
.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
    color: white;
    padding: 45px 23px;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home-container p {
    line-height: 24px;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
    max-width: 100%;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}



/* vans style section */
.list-item-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items:center; 
    gap: 10px;
    padding: 15px;
    
}
ul li{
    list-style-type: none;
}

.list-item{
    display: inline-block;
    width: 46%;
}
/* .list-img-container{
    width: 50%;
} */
.list-img{
    width: 100%;
    border-radius: 5px;
}

.item-info{
    display: flex;
    font-family: Inter;
    font-weight: 700;
    font-size: 15px;
    justify-content: space-between;
    padding: 4px;
}
.day{
    font-weight: 300;
}
.van-type{
    margin-top: -26px;
    padding: 6px;
    border-radius: 4px;
    display: inline-block;
    color: white;
}
.van{
    margin-top: 25px;
}
.simple{
    background-color: rebeccapurple;
}
.rugged{
    background-color: rgb(225, 28, 143);
}
.luxury{
    background-color: rgb(95, 70, 51);
}
.van-info-container{
    padding: 7px;
    font-family: Inter;
}
.van-info-container i{
    font-weight: 700;
}
.van-info-container img{
    width: 100%;
}
.vandetails{
    line-height: 24px;
}
.rent-btn{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #FF8C38;
    padding: 10px;
    border-radius: 5px;
    color: white;

}
.back{
    text-decoration: underline;
    color: #161616;
}

.van-link{
    text-decoration: none;
    color: #161616;
}
.host-nav {
    display: flex;
}
.vans-container{
    padding: 17px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.vans-container a{
    text-decoration: none;
    color: #161616;
}
.van-item{
    display: flex;
    height: 100px;
    gap: 10px;
    background-color: white;
    padding: 15px;
    justify-content: start;
    align-items: center;
    
}
.van-item img{
    width: 23%;
}

.filter-btns-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.filter-btns-container button{
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
.info p{
    margin-top: -10px;
}
.host-nav{
    display: flex;
    justify-content: space-between;
    padding: 9px;
    margin-bottom: 30px;
}
.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    /* padding: 5px; */
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

footer{
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
    position: relative;
    bottom: 0;
}

.van-detail{
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    /* background-color: red; */
}


.host-van-detail-layout-container {
    background-color: white;
    padding: 24px;
    margin: 30px 26px;
}

.host-van-detail {
    display: flex;
    align-items: center;
}

.host-van-detail > img {
    height: 160px;
    border-radius: 5px;
    margin-right: 20px;
}

.host-van-detail-info-text > h3 {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
}

.host-van-detail-info-text > h4 {
    font-size: 20px;
    margin-block: 0;
}
.back-button {
    color: black;
    text-decoration: none; 
    margin-left: 30px;
}


/* host van dashboard */

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding: 18px 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info {
    margin-right: auto;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}
.host-vans-list {
    padding-inline: 26px;
}
.host-dashboard-vans .host-vans-list {
    padding-inline: 0;
}


.host-dashboard-earnings {
    background-color: #ffead0;
    padding: 37px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-earnings > .info > h1 {
    font-size: 36px;
    color: #161616;
    margin: 0;
}

.host-dashboard-earnings > .info > p {
    color: #4d4d4d;
    margin-top: 5px;
}

.host-dashboard-earnings > .info > p > span {
    text-decoration: underline;
    font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
    margin: 0;
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

.host-dashboard-reviews {
    background-color: #ffddb2;
    padding: 25px 26px;
    display: flex;
    align-items: center;
}

.host-dashboard-reviews > h2 {
    margin: 0;
}

.host-dashboard-reviews .star {
    color: #ff8c38;
    font-size: 23px;
    margin-left: 15px;
    margin-bottom: 3px;
}

.host-dashboard-reviews p {
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
    margin-right: auto;
}

.host-dashboard-reviews p > span {
    font-weight: bold;
    color: #161616;
}
.host-dashboard-vans {
    padding: 38px 26px;
}

.host-dashboard-vans > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-vans .host-vans-list {
    padding-inline: 0;
}
.dashboard a{
    text-decoration: none;
    color: #161616;
    cursor: pointer;
    font-weight: 700;
}

/* host income */

.host-income {
    padding-inline: 26px;
    color: #161616;
}

.host-income > p {
    color: #4d4d4d;
}

.host-income > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income > h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

img.graph {
    width: 100%;
    max-width: 500px;
}

.host-income .info-header > p {
    color: #4d4d4d;
}

.host-income .info-header > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income .info-header > h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
}
.host-income .transaction > h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.host-income .transaction > p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}

/* host review page */


.host-reviews {
    padding-inline: 26px;
    color: #161616;
}

.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}

.host-reviews .top-text > p {
    margin: 0;
    color: #4d4d4d;
}

.host-reviews .top-text > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews > img {
    margin-bottom: 36px;
}

.host-reviews .review {
    margin-block: 25px;
}

.host-reviews .review .info {
    display: flex;
}

.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #8c8c8c;
}

.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
    margin-bottom: 15px;
}

img.graph {
    width: 100%;
    max-width: 500px;
}

